.rog-font{
    font-family:'rog fonts', 'copperplate gothic', 'Orbitron', 'Alfa Slab One', 'Anton' !important;
    
}
.black-ops{
    font-family: 'black ops one' !important;
}
.audiowide{
    font-family: 'audiowide' !important;
}
.michroma{
    font-family: 'michroma' !important;
}
.russo-one{
    font-family: 'russo one' !important;
}
.archivo{
    font-family: 'Archivo' !important;
}
.gajraj-one{
    font-family: 'Gajraj One' !important;
}
.nabla{
    font-family: 'nabla' !important;
}
.esd{
    font-family: 'East Sea Dokdo' !important;
}
.bebas{
    font-family: 'Bebas Neue' !important;
}
.orbitron{
    font-family: 'Orbitron' !important;
}
.inter{
    font-family: 'Inter';
}
.exo{
    font-family: 'Exo' !important;
}
.prosto{
    font-family: 'Prosto One' !important;
}
.poppins{
    font-family:'Poppins', sans-serif;
    font-weight: 900px !important;
}
.rubik-vinyl{
    font-family: 'rubik vinyl';
}