.flix-bg{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.searchList{
    top: 125%;
    left: -40%;
    bottom: 0;
    z-index: 2;
    height: 80vh;
    overflow-y: scroll;
    width: 420px;
}
@media screen and (min-width: 320px){
    .searchList{
        top: 110%;
        left: -40%;
        bottom: 0;
        z-index: 2;
        height: 98vh;
        overflow-y: scroll;
        width: 320px;
    }
}
@media screen and (min-width: 375px){
    .searchList{
        top: 110%;
        left: -55%;
        bottom: 0;
        z-index: 2;
        height: 98vh;
        overflow-y: scroll;
        width: 375px;
    }
}
@media screen and (min-width: 425px){
.searchList{
        top: 110%;
        left: -69%;
        bottom: 0;
        z-index: 2;
        height: 98vh;
        overflow-y: scroll;
        width: 425px;
    }
}
@media screen and (max-width: 1080px){
    /* .searchList{
        top: 142%;
        left: -13% !important;
        z-index: 2;
        height: 80vh;
        overflow-y: scroll;
        width: 340px;
    } */
    .clamp{
        max-width: "100%";
        display: "-webkit-box";
        -webkit-box-orient: "vertical";
        -webkit-line-clamp: 3 !important;
        line-clamp: 3 !important;
        overflow: "hidden";
        text-overflow: "ellipsis";
    }
}
.searchList::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-base-color: #141E30;
    scrollbar-color: rgb(71, 70, 70);
}
